<h1>検索</h1>

<p><%= @search_start_time.strftime("%H:%M") %>以降の予定を検索しました</p>

<% @time_slots.each do |key, v| %>
  <% staff = Schedule.find(key).staff %>
  <div class="time_slot">
    <h3><%= link_to staff.name, "/schedules/#{staff.id}" %></h3>
    <img src="<%= staff.image_url %>" alt="">
    <ul>
      <% v.each do |time_slot| %>
        <li><%= "#{time_slot.actual_start_time(@search_start_time)}, #{time_slot.duration / 60}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
