/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.table-style {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-style th,
.table-style td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.table-style th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-style td {
    font-size: 14px;
}

.table-style a {
    text-decoration: none;
}

.table-style a:hover {
    text-decoration: underline;
}

.available-slot {
    background-color: #e6ffe6;
}

.unavailable-slot {
    background-color: #a8a8a8;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.time_slot {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.time_slot h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.time_slot img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.time_slot ul {
    list-style-type: none;
    padding: 0;
}

.time_slot li {
    margin-bottom: 5px;
}