<h1>ようこそ</h1>

<div class="button-container">
  <%= link_to "セラピストから今すぐ簡単予約", '/reserve/staffs', class: "btn btn-primary btn-lg" %>
</div>

<div class="button-container">
  <%= link_to "カレンダーから今すぐ簡単予約", '/reserve/search', class: "btn btn-primary btn-lg" %>
</div>
